<!--The content below is only a placeholder and can be replaced.-->
<header class="jumbotron"> <!-- HTML5 -->
    <!-- Angular Expression. Podem-se colocar propriedades do componente, ou expressões Java Script. -->
    <h1 class="text-center">{{ title }}</h1>
  </header>
  <main class="container"> <!-- HTML5 -->
    <div>
        <form class="input-group">
            <span class="input-group-prepend">
                <a routerLink="/cadastro" class="btn btn-primary">Nova Foto</a>
            </span>
        </form>
    </div>
    <div class="row">
      <painel *ngFor="let foto of listaFotos" titulo="{{foto.titulo}}" class="col-md-2">
        <foto [foto]="foto"></foto>
      </painel>
    </div>
  </main>
  