<!--The content below is only a placeholder and can be replaced.-->
<header class="jumbotron"> <!-- HTML5 -->
    <!-- Angular Expression. Podem-se colocar propriedades do componente, ou expressões Java Script. -->
    <h1 class="text-center">{{ title }}</h1>
  </header>
  <main class="container"> <!-- HTML5 -->
    <div class="row" *ngIf="mensagem">
      <div class="col-sm-12">
        <p class="alert alert-success">{{mensagem}}</p>
      </div>
    </div>
    <div>
        <form class="input-group">
            <span class="input-group-prepend">
                <a routerLink="/cadastro" class="btn btn-primary">Nova Foto</a>
            </span>
            <input (keyup)="0" #busca type="search" class="form-control" placeholder="Filtrar as fotos" />
        </form>
    </div>
    <div class="row">
      <painel *ngFor="let foto of listaFotos | filtroPorTitulo:busca.value" titulo="{{foto.titulo}}" class="col-md-3">
        <!-- Ao se passar um objeto como parâmetro, deve-se utilizar o Property
             Binding. Da outra forma, o objeto será transformado em uma String. -->
        <a [routerLink]="['/cadastro', foto._id]">
          <foto [foto]="foto"></foto>
        </a>
        <button (click)="remover(foto)" class="btn btn-danger btn-block">Remover</button>
      </painel>
    </div>
  </main>
  