<!--The content below is only a placeholder and can be replaced.-->
<header class="jumbotron"> <!-- HTML5 -->
  <!-- Angular Expression. Podem-se colocar propriedades do componente, ou expressões Java Script. -->
  <h1 class="text-center">{{ title }}</h1>
</header>
<main class="container"> <!-- HTML5 -->
  {{listaFotos}}
  <foto url="assets/img/leao.jpg" titulo="leão"></foto>
  <foto url="assets/img/leaoGermanico.jpg" titulo="Leão Germânico"></foto>
  <foto url="assets/img/burro.jpg" titulo="Burro"></foto>
</main>
